// base.config

// Profiles
profiles {

  docker {

    conda.enabled = false
    docker.enabled = true
    singularity.enabled = false

    process {
      withLabel: 'scLT' {
        container = 'acox1/nf_sclt:1.0'
      }
      withLabel: 'MiTo' {
        container = 'acox1/mito:1.1'
      }
      withLabel: 'phylo' {
        container = 'acox1/r-phylo:1.0'
      }
    }

  }

  conda {

    conda.enabled = true
    docker.enabled = false
    singularity.enabled = false

    process {
      // withLabel: 'scLT' {
      //   conda.envPath = '<...>/scLT_env'    // Custom, pass with -c user.config 
      // }
      // withLabel: 'MiTo' {
      //   conda.envPath = '<...>/MiTo_env'    // Custom
      // }
      // withLabel: 'phylo' {
      //   conda.envPath = '<...>/r_phylo_env' // Custom
      // }
    }

  }

  singularity {

    conda.enabled = false
    docker.enabled = false
    singularity.enabled = true

    process {
      withLabel: 'scLT' {
        container = 'acox1/nf_sclt:1.0'
      }
      withLabel: 'MiTo' {
        container = 'acox1/mito:1.1'
      }
      withLabel: 'phylo' {
        container = 'acox1/r-phylo:1.0'
      }
    }

  }

  // Local executor profile
  local {
    process.executor = 'local'
  }

}


//


// Processes
process {

  withName: MERGE_R1 {
    cpus = 4
    memory = { 1.GB * task.attempt }
  }
  withName: MERGE_R2 {
    cpus = 4
    memory = { 1.GB * task.attempt }
  }
  withName: SOLO {
    cpus = 6 
    memory = { 60.GB * task.attempt }
  }
  withName: EXTRACT_FASTA {
    cpus = 1
    memory = 1.GB
  }
  withName: FILTER_BAM_CB {
    cpus = 1
    memory = 4.GB
  }
  withName: SPLIT_BARCODES {
    cpus = 1 
    memory = { 2.GB * task.attempt }
  }
  withName: SPLIT_BAM {
    cpus = 5
    memory = { 5.GB * task.attempt }
  }
  withName: QC {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: MAKE_AFM {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: FILTER_10X_BAM {
    cpus = 4
    memory = { 5.GB * task.attempt }
  }
  withName: FILTER_MAESTER_BAM {
    cpus = 4
    memory = { 5.GB * task.attempt }
  }
  withName: MERGE_BAM {
    cpus = 4
    memory = { 20.GB * task.attempt }
  }
  withName: SAMTOOLS {
    cpus = 1 
    memory = { 1.GB * task.attempt }
  }
  withName: COLLAPSE_SAMTOOLS {
    cpus = 1 
    memory = { 1.GB * task.attempt }
  }
  withName: FREEBAYES {
    cpus = 1 
    memory = { 1.GB * task.attempt }
  }
  withName: COLLAPSE_FREEBAYES {
    cpus = 1 
    memory = { 1.GB * task.attempt }
  }
  withName: CELLSNP {
    cpus = 8 
    memory = { 30.GB * task.attempt }
  }
  withName: INDEX_AND_MERGE {
    cpus = 4 
    memory = { 20.GB * task.attempt }
  }
  withName: MAEGATK {
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
  withName: COLLAPSE_MAEGATK {
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
  withName: MITO {
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
  withName: COLLAPSE_MITO {
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
  withName: ONESAMPLE {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: VIZ_MT_SPACE {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: MITO {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: scWGS {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: CAS9 {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: DISTANCES {
    cpus = 1
    memory = { 5.GB * task.attempt }
  }
  withName: DISTANCE_METRICS {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }  
  withName: CASSIOPEIA {
    cpus = 1
    memory = { 5.GB * task.attempt }
  }
  withName: IQTREE {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: BOOSTER {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: MPBOOT {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: TREE_METRICS {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: PROCESS_TREE {
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: MITO_BENCH {
    cpus = 1
    memory = { 8.GB * task.attempt }
  }
  withName: VIREO {
    cpus = 1
    memory = { 8.GB * task.attempt }
  }
  withName: CCLONE {
    cpus = 4
    memory = { 8.GB * task.attempt }
  }
  withName: LEIDEN {
    cpus = 1
    memory = { 8.GB * task.attempt }
  }
  withName: FETCH_WHITELIST {
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
  withName: PREP_GENOME {
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
  withName: PREP_GTF {
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
  withName: BUILD_INDEX {
    cpus = 8
    memory = { 50.GB * task.attempt }
  }

}

// Tracing
trace {
  enabled = true
  file = "trace.txt"
  overwrite = true
}

// Tracing
tower {
  enabled = true
}


//