// base.config

// includeConfig 'pipeline.info.config'


//


// Profiles, to combine
profiles {

  docker {

    docker.enabled = true

    process {
      withLabel: 'scLT' {
        container = 'acox1/sclt:1.0'
      }
      withLabel: 'MiTo' {
        container = 'acox1/mito:1.0'
      }
      withLabel: 'r-phylo' {
        container = 'acox1/r-phylo:1.0'
      }
    }

  }

  conda {
    process {

      conda.enabled = true

      // withLabel: 'scLT' {
      //   conda.envPath = '<...>/scLT_env'    // Custom
      // }
      // withLabel: 'MiTo' {
      //   conda.envPath = '<...>/MiTo_env'    // Custom
      // }
      // withLabel: 'r-phylo' {
      //   conda.envPath = '<...>/r_phylo_env' // Custom
      // }
    }

  }

  singularity {
    process {

      singularity.enabled = true

      withLabel: 'scLT' {
        container = 'acox1/sclt:1.0'
      }
      withLabel: 'MiTo' {
        container = 'acox1/mito:1.0'
      }
      withLabel: 'r-phylo' {
        container = 'acox1/r-phylo:1.0'
      }
    }

  }

  // Global executor profile
  local {
    process.executor = 'local'
  }

}


//


// Processes
process {

  // Preprocess
  withName: MERGE_R1 {
    label 'scLT'
    cpus = 4
    memory = { 1.GB * task.attempt }
  }
  withName: MERGE_R2 {
    label 'scLT'
    cpus = 4
    memory = { 1.GB * task.attempt }
  }
  withName: SOLO {
    label 'scLT'
    cpus = 6 
    memory = { 10.GB * task.attempt }
    // memory = { 60.GB * task.attempt }
  }
  withName: EXTRACT_FASTA {
    label 'scLT'
    cpus = 1
    memory = 1.GB
  }
  withName: FILTER_BAM_CB {
    label 'scLT'
    cpus = 1
    memory = 4.GB
  }
  withName: SPLIT_BARCODES {
    label 'scLT'
    cpus = 1 
    memory = { 2.GB * task.attempt }
  }
  withName: SPLIT_BAM {
    label 'scLT'
    cpus = 5
    memory = { 5.GB * task.attempt }
  }
  withName: QC {
    label 'scLT'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: MAKE_AFM {
    label 'scLT'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: FILTER_10X_BAM {
    label 'scLT'
    cpus = 4
    memory = { 5.GB * task.attempt }
  }
  withName: FILTER_MAESTER_BAM {
    label 'scLT'
    cpus = 4
    memory = { 5.GB * task.attempt }
  }
  withName: MERGE_BAM {
    label 'scLT'
    cpus = 4
    memory = { 10.GB * task.attempt }
    // memory = { 20.GB * task.attempt }
  }
  withName: SAMTOOLS {
    label 'scLT'
    cpus = 1 
    memory = { 1.GB * task.attempt }
  }
  withName: COLLAPSE_SAMTOOLS {
    label 'scLT'
    cpus = 1 
    memory = { 1.GB * task.attempt }
  }
  withName: FREEBAYES {
    label 'scLT'
    cpus = 1 
    memory = { 1.GB * task.attempt }
  }
  withName: COLLAPSE_FREEBAYES {
    label 'scLT'
    cpus = 1 
    memory = { 1.GB * task.attempt }
  }
  withName: CELLSNP {
    label 'scLT'
    cpus = 8 
    memory = { 10.GB * task.attempt }
    // memory = { 30.GB * task.attempt }
  }
  withName: INDEX_AND_MERGE {
    label 'scLT'
    cpus = 4 
    memory = { 10.GB * task.attempt }
    // memory = { 20.GB * task.attempt }
  }
  withName: MAEGATK {
    label 'scLT'
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
  withName: COLLAPSE_MAEGATK {
    label 'scLT'
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
  withName: MITO {
    label 'scLT'
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
  withName: COLLAPSE_MITO {
    label 'scLT'
    cpus = 1
    memory = { 1.GB * task.attempt }
  }
 
  
  //


  // tune, explore, phylo
  withName: ONESAMPLE {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: VIZ_MT_SPACE {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: MITO {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: scWGS {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: CAS9 {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: DISTANCES {
    label 'MiTo'
    cpus = 1
    memory = { 5.GB * task.attempt }
  }
  withName: DISTANCE_METRICS {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }  
  withName: CASSIOPEIA {
    label 'MiTo'
    cpus = 1
    memory = { 5.GB * task.attempt }
  }
  withName: IQTREE {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: BOOSTER {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: MPBOOT {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: TREE_METRICS {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: PROCESS_TREE {
    label 'MiTo'
    cpus = 1
    memory = { 10.GB * task.attempt }
  }
  withName: PATH {
    label 'r-phylo'
    cpus = 1
    memory = { 8.GB * task.attempt }
  }
  
}

// Tracing
trace {
  enabled = true
  file = "trace.txt"
  overwrite = true
}

// Tracing
tower {
  enabled = true
}


//