// pipeline.info.config

manifest {
    name = 'nf-MiTo'
    author = 'Andrea Cossa'
    homePage = 'https://github.com/andrecossa5/nf-MiTo.git'
    description = 'Integrated pipeline for MT-SNVs-based scLT.'
    nextflowVersion = '>=20.01.0'
    version = '1.0.0'
}

params {
    custom_config_version = 'master'
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}
