// user.config

// Global process settings
process {
  errorStrategy = 'retry'
  maxRetries    = 3
}

// Profile-specific
profiles {

  docker {
    docker.runOptions = '--volume /Users/:/Users/'
  }
  conda {
    process {
      withLabel: 'scLT' {
        conda = '/Users/IEO5505/miniforge3/envs/MiTo'
      }
      withLabel: 'MiTo' {
        conda = '/Users/IEO5505/miniforge3/envs/MiTo'
      }
      withLabel: 'phylo' {
        conda = '/Users/IEO5505/miniforge3/envs/MiTo'
      }
    }
  }
  singularity {
    singularity.runOptions = '--bind /data:/data'
  }

  // Other profiles here
  // ....

}

// Others process options here...
process {
  withName: SOLO {
    cpus = 6 
    memory = { 10.GB * task.attempt }
    // memory = { 60.GB * task.attempt }
  }
  withName: MERGE_BAM {
    cpus = 6 
    memory = { 10.GB * task.attempt }
    // memory = { 20.GB * task.attempt }
  }
  withName: CELLSNP {
    cpus = 6 
    memory = { 10.GB * task.attempt }
    // memory = { 20.GB * task.attempt }
  }
  withName: INDEX_AND_MERGE {
    cpus = 6 
    memory = { 10.GB * task.attempt }
    // memory = { 20.GB * task.attempt }
  }

}
