// user.config

// Global process settings
process {
  errorStrategy = 'retry'
  maxRetries    = 3
}

// Profile-specific
profiles {

  docker {
    docker.runOptions = '--volume /Users/:/Users/'
  }
  conda {
    process {
      withLabel: 'scLT' {
        conda = '.../scLT'
      }
      withLabel: 'MiTo' {
        conda = '.../MiTo'
      }
      withLabel: 'phylo' {
        conda = '.../r-phylo'
      }
    }
  }
  singularity {
    singularity.runOptions = '--bind /data:/data'
  }

  // Other profiles here
  // ....

}

// Others process options here...
// ...


//