// user.config

// Global process settings
process {
  errorStrategy = 'retry'
  maxRetries    = 3
}

// Profile-specific
profiles {

  docker {
    docker.runOptions = '--volume /Users/:/Users/'
  }
  conda {
    process {
      withLabel: 'scLT' {
        conda = '...'
      }
      withLabel: 'MiTo' {
        conda = '/Users/IEO5505/miniforge3/envs/MiTo'
      }
      withLabel: 'r-phylo' {
        conda = '/Users/IEO5505/miniforge3/envs/r-phylo'
      }
    }
  }
  singularity {
    singularity.runOptions = '--bind /data:/data'
  }

  // Other profiles here
  // ....

}

// Others process options here...
// ...


//